@use '@/assets/scss/util' as *;
@import 'fonts';

body {
	background-image: url('@/assets/images/background.png');
	background-repeat: repeat-x;
	background-size: cover;
	background-attachment: fixed;
	margin: 0;
}

select {
	margin-left: rem-calc(8);
	padding: rem-calc(4);
	border-radius: 5px;
	border-color: $gray;
}

.page-content {
	// container-type: inline-size;
	margin: rem-calc(16) rem-calc(16) 0;

	@media (max-width: #{$bp-small}) {
		margin: rem-calc(16) 0 0;
	}
}

.info-page-content {
	margin: rem-calc(50) rem-calc(80);
	padding: rem-calc(32);
	background-color: #f5f5f5;
	border-radius: 3px;

	@media (max-width: #{$bp-medium}) {
		margin: rem-calc(50) rem-calc(30);
	}
}

.view-page {
	max-width: 100vw;
	width: rem-calc(1200);
	background-color: rgba($black, 0.3);
	padding: rem-calc(16) 0;
	border-radius: 0 0 6px 6px;
	margin: rem-calc(16) auto;

	@media (max-width: #{$bp-large}) {
		width: 100%;
		margin: 0;
	}
}

.catch-table-entry {
	background-color: $row-background;

	&:nth-child(2n) {
		background-color: mix($row-background, #000, 90);

		.months {
			background-color: mix($not-spawning, #000, 92);

			&.spawnsNow {
				background-color: mix($spawning, #000, 92);
			}
		}
	}
	td {
		padding: rem-calc(2) 2ch;
	}

	.name {
		min-width: 4ch;
	}

	.place {
		min-width: 5ch;
	}

	.shadow-size {
		min-width: 11ch;
	}

	.times {
		min-width: 15ch;
	}

	.price {
		min-width: 5ch;
	}

	.months {
		min-width: 6ch;
		background-color: $not-spawning;

		&.spawnsNow {
			background-color: $spawning;
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-block-start: 0;
	margin-block-end: 0;
}

.catchable-table-wrapper {
	@media (max-width: #{$bp-large}) {
		overflow-x: auto;
		white-space: nowrap;
		max-width: 100%;
	}

	.catchable-table {
		border-spacing: 0;
		border: 2px solid mix($row-background, $black, 60);
		border-top: none;
		border-radius: 4px;
		position: relative;
		color: $black;
		width: 100%;

		thead {
			background-color: mix($row-background, $black, 80);

			td {
				padding: rem-calc(6) rem-calc(4);
				font-weight: bold;
			}
		}
	}
}
